.my-item {
    background-color: begie;
}

.my-item:hover {
    background-color: #e0e0e0;
}

.active {
    background-color: #c4c2c2;
}

.box-row {
    width: 700px;
}

.search-input-group {
    width: 700px;
}

.search-input {
    padding: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    width: 100%;
}